// Primary color
$color-primary: #2a5595;
$color-primary-dark: #687db0;
$color-primary-light: #1e437a;

// Primary alternative color
$color-primary-alternative: #c6cbe1;
$color-primary-alternative-dark: #f7f8fb;
$color-primary-alternative-light: #a6afd0;

// Secondary color
$color-secondary: #e80070;
$color-secondary-dark: #fe5b90;
$color-secondary-light: #a31b50;

// Tertiary color
$color-tertiary: #77127b;
$color-tertiary-dark: #a768a6;
$color-tertiary-light: #4a154b;

// Neutral Colors
$color-neutral-white: #fff;
$color-neutral-black: #384553;
$color-neutral-black-dark: #252c34;
$color-neutral-black-light: #5e6976;

// Feedback Colors
$color-feedback-success: #0fac67;
$color-feedback-success-dark: #1b7749;
$color-feedback-success-light: #f1fbf4;
$color-feedback-warning: #ff9735;
$color-feedback-warning-dark: #be670f;
$color-feedback-warning-light: #fff7f0;
$color-feedback-error: #fa1320;
$color-feedback-error-dark: #d0141a;
$color-feedback-error-light: #fff6f3;

// Data Colors
$color-data-teal: #54c2b8;
$color-data-teal-dark: #188c84;
$color-data-teal-light: #caebe7;
$color-data-sapphire: #3097aa;
$color-data-sapphire-dark: #0c7092;
$color-data-sapphire-light: #dae6ee;
$color-data-yellow: #ffc400;
$color-data-yellow-dark: #e57b08;
$color-data-yellow-light: #f8efc4;
$color-data-lime: #afb904;
$color-data-lime-dark: #7d8314;
$color-data-lime-light: #e9e7af;
$color-disabled-text: #1a1b1f61;
$color-disabled-background: #1a1b1f1f;
