@use './tokens.theme.scss' as tokens;

:root {
  --color-primary: tokens.$color-primary;
  --color-primary-dark: tokens.$color-primary-dark;
  --color-primary-light: tokens.$color-primary-light;
  --color-primary-alternative: tokens.$color-primary-alternative;
  --color-primary-alternative-dark: tokens.$color-primary-alternative-dark;
  --color-primary-alternative-light: tokens.$color-primary-alternative-light;
  --color-secondary: tokens.$color-secondary;
  --color-secondary-dark: tokens.$color-secondary-dark;
  --color-secondary-light: tokens.$color-secondary-light;
  --color-tertiary: tokens.$color-tertiary;
  --color-tertiary-dark: tokens.$color-tertiary-dark;
  --color-tertiary-light: tokens.$color-tertiary-light;
  --color-neutral-white: tokens.$color-neutral-white;
  --color-neutral-black: tokens.$color-neutral-black;
  --color-neutral-black-dark: tokens.$color-neutral-black-dark;
  --color-neutral-black-light: tokens.$color-neutral-black-light;
  --color-feedback-success: tokens.$color-feedback-success;
  --color-feedback-success-dark: tokens.$color-feedback-success-dark;
  --color-feedback-success-light: tokens.$color-feedback-success-light;
  --color-feedback-warning: tokens.$color-feedback-warning;
  --color-feedback-warning-dark: tokens.$color-feedback-warning-dark;
  --color-feedback-warning-light: tokens.$color-feedback-warning-light;
  --color-feedback-error: tokens.$color-feedback-error;
  --color-feedback-error-dark: tokens.$color-feedback-error-dark;
  --color-feedback-error-light: tokens.$color-feedback-error-light;
  --color-data-teal: tokens.$color-data-teal;
  --color-data-teal-dark: tokens.$color-data-teal-dark;
  --color-data-teal-light: tokens.$color-data-teal-light;
  --color-data-sapphire: tokens.$color-data-sapphire;
  --color-data-sapphire-dark: tokens.$color-data-sapphire-dark;
  --color-data-sapphire-light: tokens.$color-data-sapphire-light;
  --color-data-yellow: tokens.$color-data-yellow;
  --color-data-yellow-dark: tokens.$color-data-yellow-dark;
  --color-data-yellow-light: tokens.$color-data-yellow-light;
  --color-data-lime: tokens.$color-data-lime;
  --color-data-lime-dark: tokens.$color-data-lime-dark;
  --color-data-lime-light: tokens.$color-data-lime-light;
}
