@import './tokens.theme';

.bg-error {
  background-color: $piscium-color-feedback-error;
}

.bg-primary {
  background-color: $piscium-color-primary;
}

.bg-secondary {
  background-color: $piscium-color-secondary;
}

.bg-success {
  background-color: $piscium-color-feedback-success;
}

.bg-tertiary {
  background-color: $piscium-color-tertiary;
}

.bg-warning {
  background-color: $piscium-color-feedback-warning;
}

.text-white {
  color: $piscium-color-neutral-white;
}

.text-black {
  color: $piscium-color-neutral-black;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}
