:root {
  --piscium-color-primary: rgba(33, 150, 243, 1);
  --piscium-color-primary-dark: rgba(13, 71, 161, 1);
  --piscium-color-primary-light: rgba(187, 222, 251, 1);

  --piscium-color-primary-alternative: rgba(30, 136, 229, 1);
  --piscium-color-primary-alternative-dark: rgba(41, 98, 255, 1);
  --piscium-color-primary-alternative-light: rgba(130, 177, 255, 1);

  --piscium-color-secondary: rgba(63, 81, 181, 1);
  --piscium-color-secondary-dark: rgba(26, 35, 126, 1);
  --piscium-color-secondary-light: rgba(232, 234, 246, 1);

  --piscium-color-secondary-alternative: rgba(83, 109, 254, 1);
  --piscium-color-secondary-alternative-dark: rgba(48, 79, 254, 1);
  --piscium-color-secondary-alternative-light: rgba(140, 158, 255, 1);

  --piscium-color-tertiary: rgba(77, 208, 225, 1);
  --piscium-color-tertiary-dark: rgba(0, 96, 100, 1);
  --piscium-color-tertiary-light: rgba(224, 247, 250, 1);

  --piscium-color-tertiary-alternative: rgba(0, 229, 255, 1);
  --piscium-color-tertiary-alternative-dark: rgba(0, 184, 212, 1);
  --piscium-color-tertiary-alternative-light: rgba(132, 255, 255, 1);

  --piscium-color-neutral-white: rgba(255, 255, 255, 1);
  --piscium-color-neutral-black: rgba(56, 69, 83, 1);
  --piscium-color-neutral-black-dark: rgba(37, 44, 52, 1);
  --piscium-color-neutral-black-light: rgba(94, 105, 118, 1);
  --piscium-color-disabled-text: rgba(26, 27, 31, 0.38);
  --piscium-color-disabled-background: rgba(26, 27, 31, 0.12);

  --piscium-color-feedback-success: rgba(15, 172, 103, 1);
  --piscium-color-feedback-success-dark: rgba(27, 119, 73, 1);
  --piscium-color-feedback-success-light: rgba(241, 251, 244, 1);

  --piscium-color-feedback-warning: rgba(255, 151, 53, 1);
  --piscium-color-feedback-warning-dark: rgba(190, 103, 15, 1);
  --piscium-color-feedback-warning-light: rgba(255, 247, 240, 1);

  --piscium-color-feedback-error: rgba(250, 19, 32, 1);
  --piscium-color-feedback-error-dark: rgba(208, 20, 26, 1);
  --piscium-color-feedback-error-light: rgba(255, 246, 243, 1);
}
